<div class="col">
    <div class="card h-100 hover-card shadow-sm" style="transition: transform 0.3s ease-in-out;">
        <a href="{% url 'blog:category_detail' category.slug %}" class="text-decoration-none text-dark">
            <div class="card-body">
                <h5 class="card-title">
                    <i class="bi bi-folder2"></i> {{ category.category_name }}
                </h5>
                <p class="card-text text-muted">
                    <i class="bi bi-file-text"></i> {{ category.post_count }} постов
                </p>
            </div>
        </a>
    </div>
</div>

